<!DOCTYPE html>
<html lang="en">

<%
function dateFormat(str) {
    if(str && str.length == 8) {
        var y = str.substr(0, 4);
        var m = str.substr(4, 2);
        var d = str.substr(6, 2);
    }

	return y + "/" + m + "/" + d;
}
%>
<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>상담 상세화면</title>
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css" />
     
-->
    <link rel="stylesheet" href="/css/material-icons.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <style>
        input[id="b"] {
            position: relative;
            top: 1.5px;
        }

        label[for="c"] {
            position: relative;
            top: -1.5px;
        }
    </style>
    <style>
        table {
            border: 1px solid #dddddd;
            font-family: arial, sans-serif;
            border-collapse: separate;
            border-spacing: 2px;
            width: 100%;
        }

        td,th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
            border-spacing: 5px 10px;
        }

        td:nth-child(odd) {
            background-color: #dddddd;
        }
    </style>
    <style type="text/css">
        body {
            color: #566787;
            background: #f5f5f5;
            font-family: 'Roboto', sans-serif;
        }

        .table-wrapper {
            background: #fff;
            padding: 20px;
            /* margin: 30px 0; */
            box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        }

        .table-title {
            font-size: 15px;
            padding-bottom: 10px;
            margin: 0 0 10px;
            min-height: 45px;
        }

        .table-title h2 {
            float: left;
            margin: 5px 0 0;
            font-size: 24px;
        }

        .table-title h1 {
            float: left;
            margin: 5px 0 0;
            font-size: 40px;
        }

        .table-title .show-entries {
            margin-top: 7px;
        }

        table.table tr th,
        table.table tr td {
            table-layout: fixed;
            word-break: break-all;
            border-color: #e9e9e9;
            border-spacing: 5px 10px;
        }

        table.table th i {
            font-size: 13px;
            margin: 0 5px;
            cursor: pointer;
        }

        table.table td a {
            color: #a0a5b1;
            display: inline-block;
            margin: 0 5px;

            border-collapse: separate;
        }

        table.table td a.view {
            color: #03A9F4;
        }

        table.table td a.edit {
            color: #FFC107;
        }

        table.table td a.delete {
            color: #E34724;
        }

        table.table td i {
            font-size: 19px;
        }
    </style>
    <script>
        // 날짜 형식 변환
        function getFormatDate(date){
            // var year = date.getFullYear();              //yyyy
            // var month = (1 + date.getMonth());          //M
            // month = month >= 10 ? month : '0' + month;  //month 두자리로 저장
            // var day = date.getDate();                   //d
            // day = day >= 10 ? day : '0' + day;          //day 두자리로 저장
            // return  year + '' + month + '' + day;

            var y = str.substr(0, 4);
            var m = str.substr(4, 2);
            var d = str.substr(6, 2);
            return y + "/" + m + "/" + d;
        }
        
        function init () {

            <% data.surveyChk.forEach(function (vo,index){ %>
                var id = "code_<%=vo.surveyCd%>"
                console.log(id);
                $("input:checkbox[id='"+id+"']").prop("checked", true);
            <% })%>       
                 
        }

        function downImg(id, name)
        {
            var url = "http://rm-service.169.56.170.186.nip.io:80/file/imgfile/download/" + id + "/" + name;
            window.location.replace(url);
        }
        function downVoi(id, name)
        {
            var url = "http://rm-service.169.56.170.186.nip.io:80/file/voifile/download/" + id + "/" + name;
            window.location.replace(url);
        }
        
        $(document).ready(function () {

            // 뒤로가기
            $("#goBack").click(function (e) {
                console.log("goBack");
                var url = "/list";
                window.location.replace(url);
            });
           
            // // 파일 다운로드
            // $(".img_download_href").foreach(function(vo,index) {

            // });


            //     addEventListner("click",function (e) {
            //         console.log("img_download_href");               
            //         var url = "http://rm-service.169.56.170.186.nip.io:80/file/imgfile/download/" + vo.consultId + "/" + vo.imgFileName;
            //     // var tr = $(this);
            //     // var consultId = tr.attr("consultId");
            //     // console.log("consultId=" + consultId);
            //     // console.log("index=" + tr.attr("index"));
            //     // var url = "http://rm-service.169.56.170.186.nip.io:80/file/imgfile/download/20191101-1719/20190921_183913.jpg";
                
            //         window.location.replace(url);
            //     });
            // });

            // $(".voi_download_href").click(function (e) {
            //     console.log("voi_download_href");
            //     // var tr = $(this);
            //     // var consultId = tr.attr("consultId");
            //     // console.log("consultId=" + consultId);
            //     // console.log("index=" + tr.attr("index"));
            //     // var url = "/detail?consultId=" + consultId;
            //     var url = "http://rm-service.169.56.170.186.nip.io:80/file/imgfile/download/20191101-1719/20190921_183913.jpg";
                
            //     window.location.replace(url)
            // });
                
            init();

        });
    </script>
</head>

<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                </div>

                <div>

                    <h1><div class="glyphicon glyphicon-user" aria-hidden="true"></div></h1><span style="float:center"><h1><%= data.consultnote.copNm %> 상담일지</h1> <h2>-</h2> <h1><%= data.consultnote.copCustNm %></h1><h1>(<%= data.consultnote.consultId %>)</h1></span>
                        <br>
                        <Br>
                      
                        <span style="float:right"><input id="goBack" type="button" value="뒤로가기"  /></span>
                </div>

            </div>
        </div>
        <h4><b>
                <상담 일지 정보>
            </b></h4>

        <table border="1">

            <tr >
                <td width=200><b>소속 기업명</b></td>
                <td><%= data.consultnote.copNm %></td>
                <td><b>담당 직원</b></td>
                <td><%= data.consultnote.copCustNm %></td>             

            </tr>
            <tr>
                <td><b>등록 지점명</b></td>
                <td><%= data.consultnote.branchNm %></td>
                <td width=200><B>담당자 연락처</B></td>
                <td><%= data.consultnote.copCustPhone %></td>
                
                </td>
            </tr>
            <tr>
                <td><b>상담일자</b></td>
                <td><%= dateFormat(data.consultnote.regiDate) %></td>
                <td><b>최종 수정 일자</b></td>
                <td><%= dateFormat(data.consultnote.updateDate) %></td>
            </tr>
            <tr>
                <td><B>공개 범위</B></td>
                <td>
                    <% if(data.consultnote.openLevel === '1') { %>
                        <%= "본인만" %>
                        <% } %>
                        <% if(data.consultnote.openLevel === '2') { %>
                            <%= "지점 내" %>
                        <% } %>
                        <% if(data.consultnote.openLevel === '3') { %>
                            <%= "전행 조회" %>
                        <% } %>                 
                    
                    
                    <!-- <%= data.consultnote.openLevel %> -->
                <td><b>중요 상담 여부</b></td>
                <td> 
                    <% if(data.consultnote.importantYn === 'y') { %>
                        <%= "YES" %>
                        <% } %>
                        <% if(data.consultnote.importantYn === 'n') { %>
                            <%= "NO" %>
                        <% } %>
                        <!-- <%= data.consultnote.importantYn %></td> -->
                </td>             
            </tr>

        </table>
        &nbsp;
        &nbsp;
        <h4><b>
                <상담 체크 리스트>
            </b></h4>

        <table>
            <tr>
                <td width=200><b>상담 방법</b></td>
                <td>
                    <form action="/action_page.php" method="get">
                        <input id="code_a01" type="checkbox" name="" value="a01"> 통화
                        <input id="code_a02" type="checkbox" name="" value="a02" > 손님 내점
                        <input id="code_a03" type="checkbox" name="" value="a03" > 직접 방문
                        <input id="code_a04" type="checkbox" name="" value="a04" > 기타<br>
                    </form>
                </td>
            </tr>
            <tr>
                <td width=200><b>상담 분위기</b></td>
                <td>
                    <form action="/action_page.php" method="get">
                        <input id="code_a01" type="checkbox" name="" value="a01"> 맑음
                        <input id="code_a02" type="checkbox" name="" value="a02" > 흐림
                        <input id="code_a03" type="checkbox" name="" value="a03" > 조금 흐림
                        <input id="code_a04" type="checkbox" name="" value="a04" > 천둥번개<br>
                    </form>
                </td>
            </tr>
            <tr width=200></tr>
            <td width=200><b>상담 주제</b></td>
            <td>
                <form action="/action_page.php" method="get">
                    <input id="code_a01" type="checkbox" name="" value="a01"> 수신
                    <input id="code_a02" type="checkbox" name="" value="a02" > 여신
                    <input id="code_a03" type="checkbox" name="" value="a03" > 외환
                    <input id="code_a04" type="checkbox" name="" value="a04" > 금리 문의<br>
                </form>
            </td>
            </tr>
            <tr></tr>
            <td width=200><b>진행 상황</b></td>
            <td>
                <form action="/action_page.php" method="get" margin : "10px 0 0 30px;">
                    <input id="code_a01" type="checkbox" name="" value="a01"> 진행 중
                    <input id="code_a02" type="checkbox" name="" value="a02" > 보류
                    <input id="code_a03" type="checkbox" name="" value="a03" > 완료<br>
                </form>
            </td>
            </tr>



        </table>
        &nbsp;
                <h4><b><텍스트 Memo></b></h4>
                <table>
                    <tr></tr>
                    <td width = 150><b>등록 내용</b></td>
                        <td ><%= data.consultnote.textContent%></td>
                    </tr>             
                </table>
                        
        &nbsp;
        <h4><b>
                <상담 파일 List>
            </b></h4>
        <table>
            <tr>
                <td width=200><b>이미지파일</b></td>
                <td>
                    <% 
                    if(data.imageFiles) data.imageFiles.forEach(function (vo,index){ 
                    %>      
                    <a style="cursor: pointer" class="img_download_href" class="Next" title="이미지파일" data-toggle="tooltip" onclick="downImg('<%= vo.consultId %>','<%= vo.imgFileName %>');">
                        <img width="200" src="http://rm-service.169.56.170.186.nip.io:80/file/imgfile/download/<%= vo.consultId %>/<%= vo.imgFileName %>"><br>
                        <%=vo.imgFileName%> <i class="glyphicon glyphicon-camera"></i></a><br>
                    <% })%> 
                          
                </td>
            </tr>
            <tr>
                <td width=200><b>음성파일</b></td>
                <td>
                    <% 
                    if(data.voiceFiles) data.voiceFiles.forEach(function (vo,index){ 
                    %>
                    <a style="cursor: pointer" class="voi_download_href" class="Next" title="음성파일" data-toggle="tooltip" onclick="downVoi('<%= vo.consultId %>','<%= vo.voiFileName %>');" >
                        <%=vo.voiFileName%> <i class="glyphicon glyphicon-volume-up"></i></a><br>
                        <% })%>
                
                
                
                </td>
                <!-- <td><a href="#" class="view" title="녹음파일" data-toggle="tooltip"><i
                            class="glyphicon glyphicon-volume-up"></i></a></td> -->
            </tr>
            <!-- <tr>
                <td width="50%"><b>텍스트파일</b></td>
                <td><a href="#" class="edit" title="텍스트파일" data-toggle="tooltip"><i
                            class="glyphicon glyphicon-pencil"></i></a></td>
            </tr> -->

        </table>


    </div>
</body>

</html>