<!DOCTYPE html>
<html lang="en">
    <%
    function dateFormat(str) {
        if(str && str.length == 8) {
            var y = str.substr(0, 4);
            var m = str.substr(4, 2);
            var d = str.substr(6, 2);
        }
    
        return y + "/" + m + "/" + d;
    }
    %>

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>RM Monster</title>
    <h1>
        <center><img src="/img/hana_CI.jpg" height="50" width="50"></img><span style="color:red;">RM</span><span
                style="color:black;">-CoMS</span></center>
    </h1>
    
        <div class="dropup">
            <h2 class="text-center"><img src="/img/소개.jpg" weight="70" height="70">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              이홍구
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">부점명 : 대치사거리</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">직위 : 부장</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">연락처 : 010-777-1223</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">e-mail : hkw@hanafn.com</a></li>
            </ul>
            님의 상담일지 </h2>
          </div>   
        
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="stylesheet" href="/css/material-icons.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <style type="text/css">
        body {
            color: #566787;
            background: #f5f5f5;
            font-family: 'Roboto', sans-serif;
        }

        .table-wrapper {
            background: #fff;
            padding: 20px;
            margin: 30px 0;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        }

        .table-title {
            font-size: 15px;
            padding-bottom: 10px;
            margin: 0 0 10px;
            min-height: 45px;
        }

        .table-title h2 {
            margin: 5px 0 0;
            font-size: 24px;
        }

        .table-title select {
            border-color: #ddd;
            border-width: 0 0 1px 0;
            padding: 3px 10px 3px 5px;
            margin: 0 5px;
        }

        .table-title .show-entries {
            margin-top: 7px;
        }

        table.table tr th,
        table.table tr td {
            text-align: center;
            border-color: #e9e9e9;
        }

        table.table th i {
            text-align: center;
            font-size: 13px;
            margin: 0 5px;
            cursor: pointer;
        }

        table.table td:last-child {
            width: 130px;
        }

        table.table td a {
            color: #a0a5b1;
            display: inline-block;
            margin: 0 5px;
        }

        table.table td a.view {
            color: #03A9F4;
        }

        table.table td a.edit {
            color: #FFC107;
        }

        table.table td a.delete {
            color: #E34724;
        }

        table.table td i {
            font-size: 19px;
        }

        .pagination {
            float: right;
            margin: 0 0 5px;
        }

        .pagination li a {
            border: none;
            font-size: 13px;
            min-width: 30px;
            min-height: 30px;
            padding: 0 10px;
            color: #999;
            margin: 0 2px;
            line-height: 30px;
            border-radius: 30px !important;
            text-align: center;
        }

        .pagination li a:hover {
            color: #666;
        }

        .pagination li.active a {
            background: #03A9F4;
        }

        .pagination li.active a:hover {
            background: #0397d6;
        }

        .pagination li.disabled i {
            color: #ccc;
        }

        .pagination li i {
            font-size: 16px;
            padding-top: 6px
        }

        .hint-text {
            float: left;
            margin-top: 10px;
            font-size: 13px;
        }

        a.active-color {
            color: #000;
        }
    </style>
    <%
    let keyword = "";
    let cond = "";
    if((typeof search_concept === "undefined") || search_concept == null) {
        cond = "::: 검색조건 :::";
    } else {
        if(search_concept === "corp") cond = "기업명"; 
        else if (search_concept === "copCustNm") cond="keyman명";
        else if (search_concept === "branchNm") cond="등록지점";
        else cond = "";
    
    }
    if((typeof search_keyword == "undefined") || search_keyword == null) {
        keyword = ""; 
    } else {
        keyword = search_keyword;
    }
%>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            // Animate select box length
            var searchInput = $(".search-box input");
            var inputGroup = $(".search-box .input-group");
            var boxWidth = inputGroup.width();
            searchInput.focus(function () {
                inputGroup.animate({
                    width: "300"
                });
            }).blur(function () {
                inputGroup.animate({
                    width: boxWidth
                });
            });

            $('.search-panel .dropdown-menu').find('a').click(function (e) {
                e.preventDefault();
                var param = $(this).attr("href").replace("#", "");
                var concept = $(this).text();
                $('.search-panel span#search_concept').text(concept);
                $('.input-group #search_param').val(param);
            });

            /**
                * 상세 화면 보기
            */
            $(".consultList .view").click(function (e) {
                console.log("ddddd");
                var tr = $(this).parent();
                var consultId = tr.attr("consultId");
                console.log("consultId=" + consultId);
                console.log("index=" + tr.attr("index"));
                var url = "/detail?consultId=" + consultId;

                window.location.replace(url);
            });


            $('#btn_search').off().on("click", () => {
                let condtext = $("#search_concept").text();
                let keyword = $("#search_keyword").val();

                console.log("condtext:"+condtext);
                console.log("keyword:"+keyword);

                let cond = "";
                if (condtext === "기업명") {
                    cond = "corp";
                } else if (condtext === "keyman명") {
                    console.log("keyman");
                    cond = "copCustNm";
                    
                }else if (condtext === "등록지점") {
                    cond = "branchNm";
                    
                }

                if (cond === "") {
                    alert("검색조건을 입력하세요.");
                    $("#search_concept").focus();
                    return;
                }
                if (keyword === "") {
                    alert("검색어를 입력하세요.");
                    $("#search_keyword").focus();
                    return;
                }
                
                /*
                        $.ajax({
                            url: "////api...",
                
                
                            $('#btn_search').off().on("click", () => {
                                let condtext = $("#search_concept").text();
                                let keyword = $("#search_keyword").val();
                                let cond = "";
                                if (condtext === "기업명") {
                                    cond = "corp";
                                } else if (condtext === "담당자명") {
                                    cond = "rm";
                                }
                                if (cond === "") {
                                    alert("검색조건을 입력하세요.");
                                    $("#search_concept").focus();
                                    return;
                                }
                                if (keyword === "") {
                                    alert("검색어를 입력하세요.");
                                    $("#search_keyword").focus();
                                    return;
                                }
                                /*
                                        $.ajax({
                                            url: "////api...",
                                
                                        })
                                        .done(function(json) {
                                            
                                        });
                                        */

                var url = "/search?cond=" + cond + "&keyword=" + keyword;
                console.log(url);
                location.href = url;


            });


            //검색조건 default 처리
            $("#search_concept").text("<%= cond %>");

        });

        // $( function() {
        // 	//enter 처리
        // 	$("#text").off().on("keypress", (event) => {
        // 		if(event.keyCode == 13) {
        // 			event.keyCode = 0;
        // 			$("#btn_search").click();
        // 		}
        // 	});
        
        

        //star처리
        function toggleStar(consultId, btnId) {
            let obj = document.getElementById(btnId);
            if (obj.style.backgroundColor == '') {
                obj.style.backgroundColor = 'yellow';

                //update date        
                $('#iframe1').attr('src', "/toggle_star?consultid=" + consultId + "&star=y");

            } else {
                obj.style.backgroundColor = '';

                $('#iframe1').attr('src', "/toggle_star?consultid=" + consultId + "&star=n");

            }
        }
        // $(function () {
        //     const inputVal = $("#seachContent").val();
        //     window.location = "/list/" + inputVal;

        // $("username").val(getcookie("empNm"))    
        // });

    </script>
</head>

<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-4">


                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-2">
                                <div class="input-group">
                                    <div class="input-group-btn search-panel">
                                        <button type="button" class="btn btn-default dropdown-toggle"
                                            data-toggle="dropdown">
                                            <span id="search_concept">::: 검색조건 :::</span> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#contains">기업명</a></li>
                                            <li><a href="#copCustNm">keyman명</a></li>
                                            <li><a href="#branchNm">등록지점</a></li>



                                        </ul>
                                    </div>

                                    <input type="hidden" name="search_param" value="all" id="search_param">
                                    <input type="text" class="form-control" name="x" id="search_keyword"
                                        placeholder="Search term..." value="<%= keyword %>">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" id="btn_search">
                                            <sapn class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                </div>
                                <!-- <input type="hidden" name="search_param" value="all" id="search_param">
                                <input type="text" class="form-control" name="x" id="search_keyword"
                                    placeholder="Search term..." value="<%= keyword %>">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="btn_search"><span
                                            class="glyphicon glyphicon-search"></span></button> -->
                                </span>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <table class="table table-bordered" >
                <thead>
                    <tr bgcolor="BBBBBB">
                        
                        <th>중요표시</th>
                        <th>등록지점</th>
                        <th>열람권한</th>
                        <th>기업명 <i class="fa fa-sort"></i></th>
                        <th>Keyman</th>
                        <th>연락처</th>
                        <th>최종접촉일<i class="fa fa-sort"></i></th>
                        <th>상담유형</th>
                        
                    </tr>
                
                </thead>
                <tbody>
                  
                    <% consultList.forEach(function (item,index){ %>
                    <tr class="consultList"  consultId="<%= item.consultId %>" index="<%=index%>" style="cursor: pointer">
                        <td>

                            <!-- <button type="button" class="glyphicon glyphicon-star" ></button> -->
                            <input type="button" value="★" id="btn_star-<%= index %>"
                                onclick="toggleStar('<%= item.consultId %>', 'btn_star-<%= index %>');if(event.stopPropagation){event.stopPropagation();}event.cancelBubble=true;"
                                <% if(item.importantYn === 'y') { %> style="background-color: yellow;" <% } %>>
                        </td>
                        <td class="view"><%= item.branchNm %></td>
                        <td class="view"> 
                            
                            <% if(item.openLevel === '1') { %>
                                <%= "본인만" %>
                                <% } %>
                                <% if(item.openLevel === '2') { %>
                                    <%= "지점 내" %>
                                <% } %>
                                <% if(item.openLevel === '3') { %>
                                    <%= "전행 조회" %>
                                <% } %>  
                        
                        </td>
                        <td class="view"><%= item.copNm %></td>
                        <td class="view"><%= item.copCustNm %>&nbsp;&nbsp;&nbsp;<%= item.copCustPosition %><td>
                        <%= item.copCustPhone %>
                        <td class="view"><%= dateFormat(item.updateDate) %></td>
                        <td>

                            <% if(item.textYn === 'y') { %>
                            <a href="#" class="edit" title="텍스트" data-toggle="tooltip"><i
                                    class="glyphicon glyphicon-pencil"></i></a>
                            <% } %>
                            <% if(item.imgYn === 'y') { %>
                            <a href="#" class="next" title="이미지" data-toggle="tooltip"><i
                                    class="glyphicon glyphicon-camera"></i></a>
                            <% } %>
                            <% if(item.voiceYn === 'y') { %>
                            <a href="#" class="view" title="음성녹음" data-toggle="tooltip"><i
                                    class="glyphicon glyphicon-volume-up"></i></a>
                            <% } %>



                        </td>
                    </tr>
                    <% })%>

                </tbody>
            </table>

        </div>
    </div>

    <iframe id="iframe1" style="display:none;"></iframe>
</body>

</html>